<div class="h-56 grid grid-cols-3 gap-4 content-evenly dark:text-slate-500">
  <div class="text-center">01</div>
  <div class="text-center">02</div>
  <div class="text-center">03</div>
  <div class="text-center">04</div>
  <div class="text-center">05</div>
</div>
