<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Wordito", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div id="app" class="bg-slate-50 h-screen dark:bg-slate-900">
    <header>
      <section class="h-32 grid grid-flow-row-dense grid-cols-1 grid-rows-1 gap-2 content-center items-end p-3">
        <h1 class="text-6xl text-center dark:text-white uppercase">Wordito</h1>
      </section>
    </header>
    <%= @inner_content %>
    </div>
  </body>
</html>
